@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body, input, button {
    background: #ffffff;
    margin: 0;
    font-family: 'IBM Plex Sans Condensed';
    color: rgb(0, 0, 0);
}

h1, h2, h3 {
    font-family: 'IBM Plex Mono';
    margin: 0;
}

#status { cursor: default;}

p { cursor: default; }

button { 
    cursor: pointer;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.093); 
}

button:focus, img:focus, a:focus {
    transition: box-shadow .2s;
    box-shadow: 0.3px 0.3px 2.5px 0.3px rgb(37, 224, 0);
    outline: none;
}

#globle {
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    margin: auto;
}

.header {
    width: 100%;
    display: inline-flexbox;
    background-color:rgba(167, 208, 255, 0.424);
}

.subhead { margin: 0.1em; }

.navelements {
    display: flex;
    width: 100%;
    text-align: left;
    margin: auto;
    margin-left: 0;
}

.navcontent1 {
    font-size: 0.5em;
    display: inline-flexbox;
    z-index: 1;
    margin: auto;
    margin-left: 0;
}

nav { z-index: 1; }

#root {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.canvas {
    pointer-events: none;
    position: absolute !important;
}

#statsbutton {
    background: none;
    transition: box-shadow .2s;
    height: 4em;
    width: 3em;
    cursor: pointer;
    border-radius: 15px;
    margin-right: 1em;
    border-color: transparent;
}

#maingame {
    height: 30em;
    width: 100%;
    background: none;
    margin-left: auto;
    margin-right: auto;
    z-index: -2
}

#stats {
    width: 90%;
    height: 90%;
    vertical-align: middle;
}

#navbarline {
    width: 100%;
    border: 1px solid rgb(0, 115, 255);
    margin: 0.3em;
    background:rgb(0, 115, 255);
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

P { 
    text-align: center;
    align-items: center;
}

.wordmark {
    text-align: center;
    align-items: center;
    font-size: 5em;
    padding-bottom: 0%;
    color:rgb(0, 115, 255);
}

.container2 {
    text-align: center;
    align-items: center;
    background:rgb(0, 0, 0);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 30em;
}


#inputitemswrapper {
    vertical-align: middle;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


#flexwrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#status {
    margin-bottom: 0.9em;
    margin-top: 0.6em;
    color: rgb(86, 86, 86);
    p {
        margin: 0.3em;
    }
}

#below-status {
    margin: 0em;
    p {
        margin: 0.7em;
        margin-top: 0em;
    }
}

#belowinp2 {
    margin: 0;
    border-right: 12em;
    width: 3em;
    border-color: rgb(0, 115, 255);
    border-top:rgb(0, 115, 255);
}

.hero {
    z-index: 1;
    position: relative;

    #guessinp {
        height: 40px; width: 160px;
        text-align: center;
        font-size: 1.8em;
        background:rgb(255, 255, 255);
        border-color:rgba(205, 205, 205, 0.893);
        border-style: solid;
        caret-color: rgb(0, 115, 255);
        margin-top: 0em;
        margin-right: 0.2em;
        font-weight: bold;
        color:rgb(0, 115, 255);
        transition: box-shadow .2s;
    }
}

#stage { 
    text-decoration: underline #000;
    cursor: help; 
    background-color: rgba(208, 233, 255, 0.873);
}

#playbutton {
    height: 40px; 
    width: 45px;
    border-radius: 15px;
    border-color:rgba(205, 205, 205, 0.893);
    border-style: solid;
    background: transparent;
    pointer-events: none;
}


#inputitems {
    display: flex;
    background:rgba(167, 208, 255, 0.424);
    padding: 0.5em;
    border-radius: 15px;
    margin-top: 1.5em;
    align-items: center;
    border: 2px solid rgb(0, 115, 255);
    z-index: 1;
}

#guesslabel {
    text-align: left;
}

.mainc {
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

::placeholder {
    color: rgba(86, 86, 86, 0.305);
    font-size: .87em;
}

nav {
    background: none;
    justify-content: center;
    display: inline-flexbox;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    .wordmark {
        text-decoration: none;
        font-family: 'IBM Plex Mono';
        font-weight: bold;
    }

}

.modal-container {
    box-sizing: border-box;
    display: none;
}

#triangle {
    width: 0.2em;
    height: 0.2em;
    border-radius: 15px;
}

#how2playbutton {
    background: none;
    transition: box-shadow .2s;
    height: 4em;
    width: 3em;
    cursor: pointer;
    border-radius: 15px;
    border-color: transparent;
}



.navbuttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    z-index: 2;
}

.footer {
    margin: 0.7em;
    vertical-align: middle;
}

#gith {
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
    margin: auto;
}

input {
    border-radius: 15px;
}

input:focus { 
    outline: none !important;
    box-shadow: 0.5px 0.5px 3.5px 0.5px rgb(37, 224, 0);
    transition: 0.2s;
}

input:hover { 
    box-shadow: 0.5px 0.5px 2.5px 0.5px rgb(0, 115, 255);
}

input:active { 
    box-shadow: 0.3px 0.3px 2.5px 0.3px rgb(37, 224, 0);  
}

#how2playbutton:hover, #statsbutton:hover { 
    box-shadow: 0.3px 0.3px 2.5px 0.3px rgb(0, 115, 255);   
}

#how2playbutton:active, #statsbutton:active { 
    box-shadow: 0.3px 0.3px 2.5px 0.3px rgb(37, 224, 0);   
}